.current-question-header {
  background-color: white;
}

.current-question-question {
  background-color: #ddd;
  padding: 1.6em 2em;
}

.current-question-score {
  padding: 0.5em 0 1em 0;
  margin: 0;
}

.current-question-number-question {
  margin: 0;
  padding: 0 0 1em 0;
}

.current-question-buttons {
  display: flex;
  padding: 0;
  margin: 0;
}

.current-question-button {
  width: 50%;
  padding: 20px;
  margin: 0;
}

.current-question-button:hover {
  color: lightpink;
  background-color: white;
}