.current-question {
  max-width: 350px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: lightpink;
  box-shadow: 0.25em 0.25em 0.5em #333333;
  border: 0.15em solid black;
}

.current-question-header {
  background-color: white;

}

.current-question-question {
  background-color: #ddd;
  padding: 0.7em 2em;
}

.current-question-score {
  margin-bottom: 0;
}

.current-question-buttons {
  display: flex;
  padding: 0;
  margin: 0;
}

.current-question-button {
  width: 50%;
  padding: 20px;
  margin: 0;
}

.current-question-button:hover {
  color: lightpink;
  background-color: white;
}