.start-greeting {
  background-color: #ddd;
  padding: 2em;
  margin: 0;
}

.start-greeting-header {
  margin: 0;
}

.start-greeting-text {
  margin: 0.3em 5em 0 0;
  text-align: end;
  font-size: 0.8em;
}

.start-button {
  padding: 20px;
  margin: 0;
  border-radius: 0 0 20px 20px;
}

.start-button:hover {
  color: lightpink;
  background-color: white;
}

.loading-text {
  background-color: #ddd;
  padding: 2em 5em;
  margin: 0;
}

.loading-button {
  padding: 20px;
  margin: 0;
  cursor: not-allowed;
  pointer-events: none;
}