.ready-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ready-button {
  border-radius: 50%;
  width: 8em;
  height: 6em;
  font-size: 2rem;
  margin-top: 10%;
}

.ready-button:hover {
  background-color: lightpink;
  color: white;
}

.ready-button-disabled {
  border-radius: 50%;
  width: 8em;
  height: 6em;
  font-size: 2rem;
  margin-top: 10%;
  cursor: not-allowed;
  pointer-events: none;
}